.Button 
{
  display: flex;
  border-radius: 16px;
  width: fit-content;
  height: 60px;
  padding: 0px 32px;
  align-items: center;
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.30);
  backdrop-filter: blur(2px);
}